@model Gen06_23_AutosMVC.Models.Domicilio

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>¿Seguro que quieres eliminarlo?</h3>
<div>
    <h4>Domicilio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroInt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroInt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroExt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroExt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colonia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Municipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar al listado</a>
    </form>
</div>
