@model Gen06_23_AutosMVC.Models.Pago

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auto.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoAdicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoAdicional.MontoAdicional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfil.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPago.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPago.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Regresar al listado</a>
</div>
