@model IEnumerable<Gen06_23_AutosMVC.Models.Pago>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pagos</h1>

<p>
    <a asp-action="Create">Ingresar nuevo pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoAdicional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auto.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoAdicional.MontoAdicional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPago.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPago.Descripcion)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
